@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar-hide";
@theme {
  /* Typography */
  --font-serif: 'Space Mono', monospace;
  --font-sans: 'Space Mono', monospace;
  /* Colors */
  --color-base-light:#eeede8; 
  --color-base-medium:#f7f7f5;


}


/* CSS */
:root {

}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: 'Space Mono', monospace;
  }
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}